@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(images/pattern-background-desktop.svg) ;
  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  margin-top: 40px;
}

img {
  width: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  font-family: Red-Hat-Display, sans-serif;
  font-weight: 500;
  color: rgb(124, 124, 124);
}

.sub-heading {
  margin-left: 80px;
  margin-top: 5px;
  
}

h1 {
  font-family: Red-Hat-Display, sans-serif;
  font-weight: 900;
  font-size: 25px;
}

span {
  margin-left: 70px;
}

.name {
display: flex;
flex-direction: column;
margin-left: 0;
margin-bottom: 5px;
color: black;
font-weight: 700;
}

.music  {
  height: 50px;
  width: 50px;
  margin-left: -60px;
  margin-bottom: -47px;
}

a {
  margin-left: 80px;
  margin-top: -50px;
}

a:hover {
  color: hsl(224, 23%, 55%);
  text-decoration-line: none;
}

.button-1 {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
  font-family: Red-Hat-Display, sans-serif;
  font-weight: 500;
}

.button-2 {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  font-family: Red-Hat-Display, sans-serif;
  font-weight: 500;
}


.button-1:hover {
  cursor: pointer;
  background-color: hsl(224, 23%, 55%);
}

.button-2:hover {
  cursor: pointer;
  font-weight: 700;
}
  
